<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
// If your Heroku application is within the EU region,
// uncomment the followling lines
// Pusher.host = 'ws-eu.pusher.com';
// Pusher.sockjs_host = 'sockjs-eu.pusher.com';

var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
var channel = pusher.subscribe("channel<%= channel.id %>");
channel.bind('update', function(data) {
  //alert(data.body);
  html = [];
  var div = $( "#home" )
  var ul = div.find('#cbox')//document.getElementById("chatbox");
  

  div.find("#chatjx")[0].reset();
  html.push('<li class="left clearfix"><span class="chat-img pull-left">');
  <% if @competition.image? %>
    html.push('    <%= image_tag @competition.image_url(:thumb), class: "img-circle", size: "50" %>');
  <% else %>
    html.push('    <%= image_tag url_for("sports/#{@competition.sport.name}.png"), class: "img-circle", size: "50" %>');
  <% end %>
  html.push('</span>');
  html.push('  <div class="chat-body clearfix">');
  html.push('      <div class="header">');
  html.push('          <strong class="primary-font">');
    html.push(data.user);
    html.push('</strong><small class="pull-right text-muted">');
  html.push('             <span class="glyphicon glyphicon-time"></span> just now');
    html.push('       </small>');
  html.push('      </div>');
  html.push('      <p>');
    html.push(data.body);
  html.push('      </p>');
  html.push('  </div>');
  html.push('</li>');
  
  
  ul.append(html.join(' '));

  var d = div.find('#cpanel');
  //d.scrollTop(d.prop("scrollHeight"));
  
  d.animate({ scrollTop: d[0].scrollHeight}, 1000);

  //alert(html.join(' '));
  
});
</script>



  <div role="tabpanel">
  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cast</a></li>
      <li role="presentation"><a href="#newchat" aria-controls="newchat" role="tab" data-toggle="tab">New</a></li>

    <% channel.chats.each do |chat| %>
      <% if chat.group.users.include? current_user %>
      <li role="presentation"><a href="#chat<%= chat.id %>" aria-controls="<%= chat.id %>" role="tab" data-toggle="tab"><%= chat.name %></a></li>
      <% end %>
    <% end %>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        
        <div class="panel panel-primary">
          <div class="panel-heading">
              <%= channel.name %>
          </div>
          <div class="panel-body">
              <ul id="chatbox" class="chat">
                <div id="cbox">
                  <% channel.updates.each do |message| %>
                      <li class="left clearfix"><span class="chat-img pull-left">
                        <% if @competition.image? %>
                          <%= image_tag @competition.image_url(:thumb), class: "img-circle", size: "50" %>
                        <% else %>
                          <%= image_tag url_for("sports/#{@competition.sport.name}.png"), class: "img-circle", size: "50" %>
                        <% end %>
                      </span>
                          <div class="chat-body clearfix">
                              <div class="header">
                                  <strong class="primary-font">Broadcaster</strong> <small class="pull-right text-muted">
                                      <span class="glyphicon glyphicon-time"></span><%=  message.created_at %></small>
                              </div>
                              <p>
                                  <%= message.body %>
                              </p>
                          </div>
                      </li>
                  <% end %>
                </div>
              </ul>
          </div>
          <div class="panel-footer">
            <% if current_user.id == channel.user_id %>
              <%= simple_form_for [channel, channel.updates.build], remote:true, html: { :id => "chatjx" }  do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.input :body, :label => false, wrapper_html: {class: "form-inline"} do %>
                    <%= f.input :body, :label => false, :as => :string, :input_html => { size: 30, placeholder: "Type...", class: "form-control input-sm"}%>
                    <%= f.button :submit, "Send", :class => "btn btn-warning btn-sm" %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
          
          </div>
      </div>
        
      </div>
      
    <% channel.chats.each do |chat| %>
      <% if chat.group.users.include? current_user %>
      <div role="tabpanel" class="tab-pane" id="chat<%= chat.id %>"> <%= render chat%></div>
      <% end %>
    <% end %>
    
      <div role="tabpanel" class="tab-pane" id="newchat"><% @chat = Chat.new %><%= render :partial => 'chats/form' %></div>
    </div>
  
  </div>